html, body {
margin : 0;
padding : 0;
}

a:link, a:visited, a:hover, a:active {
  text-decoration : none;
  text-color : black;
}

body{
    background-color : #f6f0ee
}

#home{
  color : #F0795B;
}
#headline{
    background-color : #fff;
    max-width: 1600px;
    margin: 0 auto;
    height: 60px;
    overflow-y: hidden;
}
#home{
    margin-left: 40px;
    width: 305px;
    float: left;
    font-family: 'Nanum Barun Gothic';
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
}
.category{  
    float: right;
    margin-right: 40px;
}
.login{
  float: right;
  margin-right: 40px;
  margin-left: 50px;
}
.login span{
    font-family: 'Nanum Gothic';
    font-size: 19px;
    font-weight: 700;
    color: #000000;
    line-height: 60px;
    text-transform: uppercase;  
}
.category span {
    font-family: 'Nanum Gothic';
    font-size: 19px;
    font-weight: 700;
    color: #9d9796;
    line-height: 60px;
    text-transform: uppercase;
}
.banner{
  background-image: url("http://s4.favim.com/orig/50/black-and-white-city-lights-taxi-Favim.com-455672.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 500px;
  width: 100%;
  position : relative;
}
#textbox{   
  text-align: center;
  top: 23%;
  height : 40%;
  width: 60%;
  padding: 30px 10px;
  margin : auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#texts{
  width:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  margin-top: 40%;
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

h2 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
  font-style:italic;
  text-decoration : overline;
}

.login-page {
  margin : 40px auto;
  padding : 40px;
  position: static;
  width: 40%;
  text-align : center;
  background-color : #fff;
}
.form-group{
  padding : 5px;
}
.form-control{
  width : 300px;
  height : 40px;
  font-size : 20px;
  text-align : center;
}
.button{
  margin-top : 10px;
  width : 300px;
  height : 40px;
  background-color : #F0795B;
  border : none;
  font-size : 20px;
  color : #fff
}