<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href='/static/css/main.css'>
</head>
<body>
  <div id="headline">
    <div class="login">
      <div id="signup">
        <span  onclick="location.href='/logout'" style="cursor:pointer;">log out</span>
      </div>
    </div>
    <div id="home">
      <span  onclick="location.href='/main'" style="cursor:pointer;">Home</span>
    </div>
    <div class="category">
      <div id="pato">
        <span onclick="location.href='/pato'" style="cursor:pointer;">pato</span>
      </div>
    </div>
    <div class="category">
      <div id="timetable">
        <span onclick="location.href='/timetable'" style="cursor:pointer;">Time table</span>
      </div>
    </div>
    <div class="category">
      <div id="mypage">
        <span onclick="location.href='/mypage'" style="cursor:pointer;">mypage</span>
      </div>
    </div>
  </div>
  
  <div class="banner">
    <div  id="textbox">
      <div id="texts">
      <h1>Taxi Together</h1>
        <h2>Go taxi together with your friends.</h2>
      </div>
    </div>
  </div>
</body>
</html>
